.sidebar(data-active-color='rose', data-background-color='black', data-image='../assets/img/sidebar-1.jpg')
  .logo
    a.simple-text(href='http://www.creative-tim.com', i18n) Creative Tim
  .logo.logo-mini
    a.simple-text(href='http://www.creative-tim.com') Ct
  .sidebar-background(style='background-image: url(../assets/img/sidebar-1.jpg)')
  perfect-scrollbar.sidebar-wrapper
    .user
      .photo
        img(src='../assets/img/faces/avatar.jpg')
      .info
        a.collapsed(data-toggle='collapse', href='#collapseExample')
          | Tania Andrew
          b.caret
        #collapseExample.collapse
          ul.nav
            li
              a(href='#') My Profile
            li
              a(href='#') Edit Profile
            li
              a(href='#') Settings
    tb-menu(
      [menuRoutes]='routes',
      [menuHeight]='menuHeight',
      [sidebarCollapsed]='isMenuCollapsed',
      (expandMenu)='menuExpand()')
