<div class="sidebar" (mouseleave)="hoverElemTop=outOfArea" sidebarResize>
  <div class="logo">
    <a href="http://www.creative-tim.com" class="simple-text">Creative Tim</a>
  </div>
  <div class="logo logo-mini">
    <a href="http://www.creative-tim.com" class="simple-text">Ct</a>
  </div>
  <div class="sidebar-wrapper">
    <div class="user">
      <div class="photo">
        <img src="../assets/img/faces/avatar.jpg" />
      </div>
      <div class="info">
      <a data-toggle="collapse" href="#collapseExample" class="collapsed">
        Tania Andrew
        <b class="caret"></b>
      </a>
      <div class="collapse" id="collapseExample">
        <ul class="nav">
          <li>
            <a href="#">My Profile</a>
          </li>
          <li>
            <a href="#">Edit Profile</a>
          </li>
          <li>
            <a href="#">Settings</a>
          </li>
        </ul>
      </div>
    </div>
    <tb-menu 
      [menuRoutes]="routes"
      [menuHeight]="menuHeight"
      [sidebarCollapsed]="isMenuCollapsed"
      (expandMenu)="menuExpand()">
    </tb-menu>
  </div>
  <div class="sidebar-background"></div>
</div>
