<li *ngIf="!menuItem.hidden" [title]="menuItem.title" [ngClass]="{'active': menuItem.selected}">

  <a *ngIf="!menuItem.children && !menuItem.url" (mouseenter)="onHoverItem($event, item)" [routerLink]="menuItem.route.paths">
    <i class="material-icons">{{ menuItem.icon }}</i><span>{{ menuItem.title }}</span>
  </a>

  <a *ngIf="!menuItem.children && menuItem.url" (mouseenter)="onHoverItem($event, item)" [href]="menuItem.url" [target]="menuItem.target">
    <i class="material-icons">{{ menuItem.icon }}</i>
    <p>{{ menuItem.title }}</p>
  </a>

  <a *ngIf="menuItem.children" (mouseenter)="onHoverItem($event, item)" href (click)="onToggleSubMenu($event, menuItem)">
    <i class="material-icons">{{ menuItem.icon }}</i>
    <p>{{ menuItem.title }}<b class="fa fa-angle-down" [ngClass]="{'fa-angle-up': menuItem.expanded}"></b></p>
  </a>

  <div class="collapse">
    <ul *ngIf="menuItem.children" class="nav">
      <tb-menu-item
        [menuItem]="subItem"
        [child]="true"
        (itemHover)="onHoverItem($event)"
        (toggleSubMenu)="onToggleSubMenu($event, subItem)"
        *ngFor="let subItem of menuItem.children">
      </tb-menu-item>
    </ul>
  </div>

</li>
