.content
  .container-fluid
    .row
      .col-md-12
        .card
          .card-header.card-header-icon(data-background-color='green')
            i.material-icons language
          .card-content
            h4.card-title Global Sales by Top Locations
            .row
              .col-md-5
                .table-responsive.table-sales
                  table.table
                    tbody
                      tr
                        td
                          .flag
                            img(src='../assets/img/flags/US.png')
                        td USA
                        td.text-right
                          | 2.920
                        td.text-right
                          | 53.23%
                      tr
                        td
                          .flag
                            img(src='../assets/img/flags/DE.png')
                        td Germany
                        td.text-right
                          | 1.300
                        td.text-right
                          | 20.43%
                      tr
                        td
                          .flag
                            img(src='../assets/img/flags/AU.png')
                        td Australia
                        td.text-right
                          | 760
                        td.text-right
                          | 10.35%
                      tr
                        td
                          .flag
                            img(src='../assets/img/flags/GB.png')
                        td United Kingdom
                        td.text-right
                          | 690
                        td.text-right
                          | 7.87%
                      tr
                        td
                          .flag
                            img(src='../assets/img/flags/RO.png')
                        td Romania
                        td.text-right
                          | 600
                        td.text-right
                          | 5.94%
                      tr
                        td
                          .flag
                            img(src='../assets/img/flags/BR.png')
                        td Brasil
                        td.text-right
                          | 550
                        td.text-right
                          | 4.34%
              .col-md-6.col-md-offset-1
                #worldMap.map
    .row
      .col-md-4
        .card.card-chart
          .card-header(data-background-color='rose', data-header-animation='true')
            #websiteViewsChart.ct-chart
          .card-content
            .card-actions
              button.btn.btn-danger.btn-simple.fix-broken-card(type='button')
                i.material-icons build
                |  Fix Header!
              button.btn.btn-info.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Refresh')
                i.material-icons refresh
              button.btn.btn-default.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Change Date')
                i.material-icons edit
            h4.card-title Website Views
            p.category Last Campaign Performance
          .card-footer
            .stats
              i.material-icons access_time
              |  campaign sent 2 days ago
      .col-md-4
        .card.card-chart
          .card-header(data-background-color='green', data-header-animation='true')
            #dailySalesChart.ct-chart
          .card-content
            .card-actions
              button.btn.btn-danger.btn-simple.fix-broken-card(type='button')
                i.material-icons build
                |  Fix Header!
              button.btn.btn-info.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Refresh')
                i.material-icons refresh
              button.btn.btn-default.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Change Date')
                i.material-icons edit
            h4.card-title Daily Sales
            p.category
              span.text-success
                i.fa.fa-long-arrow-up
                |  55%
              |  increase in today sales.
          .card-footer
            .stats
              i.material-icons access_time
              |  updated 4 minutes ago
      .col-md-4
        .card.card-chart
          .card-header(data-background-color='blue', data-header-animation='true')
            #completedTasksChart.ct-chart
          .card-content
            .card-actions
              button.btn.btn-danger.btn-simple.fix-broken-card(type='button')
                i.material-icons build
                |  Fix Header!
              button.btn.btn-info.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Refresh')
                i.material-icons refresh
              button.btn.btn-default.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Change Date')
                i.material-icons edit
            h4.card-title Completed Tasks
            p.category Last Campaign Performance
          .card-footer
            .stats
              i.material-icons access_time
              |  campaign sent 2 days ago
    .row
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='orange')
            i.material-icons weekend
          .card-content
            p.category Bookings
            h3.card-title 184
          .card-footer
            .stats
              i.material-icons.text-danger warning
              a(href='#pablo') Get More Space...
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='rose')
            i.material-icons equalizer
          .card-content
            p.category Website Visits
            h3.card-title 75.521
          .card-footer
            .stats
              i.material-icons local_offer
              |  Tracked from Google Analytics
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='green')
            i.material-icons store
          .card-content
            p.category Revenue
            h3.card-title $34,245
          .card-footer
            .stats
              i.material-icons date_range
              |  Last 24 Hours
      .col-lg-3.col-md-6.col-sm-6
        .card.card-stats
          .card-header(data-background-color='blue')
            i.fa.fa-twitter
          .card-content
            p.category Followers
            h3.card-title +245
          .card-footer
            .stats
              i.material-icons update
              |  Just Updated
    h3 Manage Listings
    br
    .row
      .col-md-4
        .card.card-product
          .card-image(data-header-animation='true')
            a(href='#pablo')
              img.img(src='../assets/img/card-2.jpeg')
          .card-content
            .card-actions
              button.btn.btn-danger.btn-simple.fix-broken-card(type='button')
                i.material-icons build
                |  Fix Header!
              button.btn.btn-default.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='View')
                i.material-icons art_track
              button.btn.btn-success.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Edit')
                i.material-icons edit
              button.btn.btn-danger.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Remove')
                i.material-icons close
            h4.card-title
              a(href='#pablo') Cozy 5 Stars Apartment
            .card-description
              | The place is close to Barceloneta Beach and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Barcelona.
          .card-footer
            .price
              h4 $899/night
            .stats.pull-right
              p.category
                i.material-icons place
                |  Barcelona, Spain
      .col-md-4
        .card.card-product
          .card-image(data-header-animation='true')
            a(href='#pablo')
              img.img(src='../assets/img/card-3.jpeg')
          .card-content
            .card-actions
              button.btn.btn-danger.btn-simple.fix-broken-card(type='button')
                i.material-icons build
                |  Fix Header!
              button.btn.btn-default.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='View')
                i.material-icons art_track
              button.btn.btn-success.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Edit')
                i.material-icons edit
              button.btn.btn-danger.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Remove')
                i.material-icons close
            h4.card-title
              a(href='#pablo') Office Studio
            .card-description
              | The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the night life in London, UK.
          .card-footer
            .price
              h4 $1.119/night
            .stats.pull-right
              p.category
                i.material-icons place
                |  London, UK
      .col-md-4
        .card.card-product
          .card-image(data-header-animation='true')
            a(href='#pablo')
              img.img(src='../assets/img/card-1.jpeg')
          .card-content
            .card-actions
              button.btn.btn-danger.btn-simple.fix-broken-card(type='button')
                i.material-icons build
                |  Fix Header!
              button.btn.btn-default.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='View')
                i.material-icons art_track
              button.btn.btn-success.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Edit')
                i.material-icons edit
              button.btn.btn-danger.btn-simple(type='button', rel='tooltip', data-placement='bottom', title='Remove')
                i.material-icons close
            h4.card-title
              a(href='#pablo') Beautiful Castle
            .card-description
              | The place is close to Metro Station and bus stop just 2 min by walk and near to "Naviglio" where you can enjoy the main night life in Milan.
          .card-footer
            .price
              h4 $459/night
            .stats.pull-right
              p.category
                i.material-icons place
                |  Milan, Italy